.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 25em;
  width: 17em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-title {
  height: 1em;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0;
}

.movie-release {
  margin-top: 1em;
}

.movie-rating {
  margin-top: -0.2em;
}

.card-img {
  width: 17em;
  height: 17em;
  border-radius: 5px;
}

.movie-overview {
  position: absolute;
  width: 16.5em;
  height: 16.5em;
  visibility: hidden;
}

.card-content:hover .card-main {
  visibility: hidden;
}

.card-content:hover .movie-overview {
  visibility: visible;
}

.card-content:hover {
  box-shadow: 0 0 30px rgba(31, 72, 126, 0.5);
}
